<div class="container m-4">
  <h1 class="my-4">LA MEJOR PAGINA DE COMIDA</h1>
  <%= link_to "Ver tipos de platos", dishes_path, class: "btn btn-primary" %>

  <ul class="list-group">
    <% @restaurants.each do |restaurant| %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h4 class="mb-1"><%= restaurant.name %></h4>
            <p class="mb-0"><%= restaurant.address %></p>
          </div>
          <%= link_to "Ver items", restaurant_items_path(restaurant.id), class: "btn btn-primary" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
